<!doctype html>
<html lang="zh-cn" ng-app="TBPlugin" ng-csp>
<head>
    <meta charset="UTF-8">
    <title>TBPlugin</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    </head>
<body ng-controller="mainController" style="width:300px">
    <input type="checkbox" id="removeAd" ng-model="settings.removeAd"/>去除广告
    <p>关键字</p>
    <input type="text" id="spam" />
    <button ng-click="add()">添加</button>
    <ul style="list-style:none">
        <li ng-repeat="spam in settings.spamList" style="width:100%;margin-top:5px"><span style="text-overflow:ellipsis;overflow: hidden;width:214px;display:inline-block">{{ spam }}</span><button ng-click="remove(spam)" style="float:right;display:inline-block">删除</button></li>
    </ul>
</body>
</html>
